@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
    box-sizing: border-box;
}
body {
    margin: 0%;
}

h2 {
    text-align: center;
    font-family: 'Black Ops One', cursive;
}


.topo { text-align: center; color: white; padding: 25px;}

.dp-menu ul {
  list-style-type:none;
  padding: 0px;
  margin-bottom: 200px;
  font-family: 'Black Ops One', cursive;
  font-size: 16px;
  
}

.dp-menu ul {
  background-color:  rgba(0, 0, 0, 0.2);
}

.lip {
 margin-right: 50px;

 }

 .lip:last-child {
 margin-right: 0px;

 }

.dp-menu ul li {
  display: inline;
  position: relative;
}

.dp-menu ul li a{
  color:  white;
  text-decoration: none;
  display: inline-block;
  padding:10px;
  transition: background .3s;
  
}

.dp-menu ul li a:hover{
  background-color:  rgb(255, 196, 0);
 
  
}

/*sub menu*/

.dp-menu ul ul {
  display: none;
  position: absolute;
  left: 0;
}

.dp-menu ul li:hover ul{
  display: block;

}

.dp-menu ul ul  {
width: 150px;
}

.dp-menu ul ul li a {
display: block;
}









.slider {margin:auto; width: 800px; height: 450px; overflow: hidden; margin-bottom: 250px;}

.slides {width: 400%; height: 400px; display: flex;}

.slides input {display:none;}

.slide {width: 25%; position: relative; transition: 2s;}

.slide img {width: 800px; }

.manual-navigation {position: absolute;width: 800px; margin-top:-40px ;display: flex; justify-content: center;}

.manual-btn{border: 2px solid #fff; padding: 5px;border-radius: 10px; cursor: pointer; transition: 1s;}

.manual-btn:not(:last-child){margin-right: 40px;}

.manual-btn:hover{background-color: #fff;}

#radio1:checked ~ .first{margin-left: 0;}

#radio2:checked ~ .first{margin-left: -12.5%;}

#radio3:checked ~ .first{margin-left: -25%;}

.navigation-auto div{border: 2px solid #5c08f8; padding: 5px; border-radius: 10px; cursor: pointer; transition: 1s;}

.navigation-auto{position: absolute; width: 800px; margin-top: 360px; display: flex; justify-content: center;}

.navigation-auto div:not(:last-child){margin-right: 40px;}

#radio1:checked ~ .navigation-auto .auto-btn1{background-color: #fff;}
#radio2:checked ~ .navigation-auto .auto-btn2{background-color: #fff;}
#radio3:checked ~ .navigation-auto .auto-btn3{background-color: #fff;}

.home-text1{ background-color: rgba(0, 0, 0, 0.4); text-align: justify; font-size:large; padding: 15px; width: 50%; height: 100% ;color: white; margin-bottom: 150px; }

.home-image1{ width: 50%; height: 100% ; text-align: justify;  margin-bottom: 150px;}

.home-text2{ background-color:  rgba(0, 0, 0, 0.4); text-align: left; font-size:large; padding: 15px; width: 50%; height: 100% ;color:white; margin-bottom: 150px;}

.home-image2{ width: 50%; height: 100% ; margin-right:0%; text-align: right;}


.alinha-esq {float: left; }

.alinha-dir {float:right; }

.divisao { width: 100%; height: 50%; padding: 100px;
background-color: #5c08f8; background-image: url("../img/iron-texture.jpg");
background-size: cover; margin-top: 751px; }



  body {
    margin: 0;
    padding: 0;
    overflow:auto;
  }

  #video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
